/*===============================================
                Allgemein
================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cinzel-Medium;
    src: url("../fonts/Cinzel-Medium.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins-Regular.ttf");
}


/*===============================================
                Header
================================================*/
header section {
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    padding: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header section h1 {
    text-align: center;
    font-size: 3rem;
    margin: 12vh auto;
    color: #fff;
    font-family: Cinzel-Medium;
    font-weight: lighter;
    width: 50%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    padding: 15px 50px;
    font-family: Cinzel-Medium;


}

header nav p {
    display: inline-block;
    /* margin-right: 88%; */
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline-block;
    padding: 0 0.3rem;
}

header ul li a img {
    width: 2rem;
    border-radius: 25px;
    filter: grayscale(0.7);
}



/*===============================================
                Main
================================================*/

main {
    margin: 15vh 15vh;
}


main section img {
    width: 25%;
    margin: 5vh 5vh;

}

.main_firstSection {
    font-size: 1.2rem;
    text-align: center;
    margin: 15vh;
}

.section_img {
    text-align: center;
}

.main_thirdSection {
    margin-top: 10vh;
}

main section h3 {
    text-align: center;
    padding-bottom: 10vh;
    font-family: Cinzel-Medium;
}

.p_tourDates {
    text-align: left;
}

main section ul {
    line-height: 5vh;
    margin-left: 11vh;
    list-style: none;
    font-family: Poppins-Regular;
}

main section ul li:nth-of-type(1)::after {
    content: " - SOLD OUT";
    color: red;
}

main section ul li:nth-of-type(2)::after {
    content: " - SOLD OUT";
    color: red;
}

main section ul li:nth-of-type(3)::after {
    content: " - SOLD OUT";
    color: red;
}

main section ul li:nth-of-type(4)::after {
    content: " - ONLY 4 SPOT AVAILABLE";
    color: red;
}

main section ul li:nth-of-type(5)::after {
    content: " - AVAILABLE";
    color: green;
}


main section ul li:nth-of-type(6)::after {
    content: " - AVAILABLE";
    color: green;
}



/*===============================================
                Footer
================================================*/

footer {
    border-top: 0.3vh #ccc solid;
    text-align: center;
    padding: 3vh;
}

footer p a {
    font-size: Cinzel-Medium;
    color: #999;
    text-decoration: none;
}